<?xml version="1.0"?>
<config>
	<modules>
		<Copimaj_MiniCart>
			<version>0.1.0</version>
		</Copimaj_MiniCart>
	</modules>
	<global>
        <blocks>
            <checkout>
                <rewrite>
                    <cart_header>Copimaj_MiniCart_Block_Cart_Header</cart_header>
                </rewrite>
            </checkout>
        </blocks>
    </global>
</config>